### mod

In [2]:
7 % 2

3

### power

In [3]:
2 ** 3

8

### len

In [4]:
len('Lorenzo')

7

### strings

In [5]:
string = 'Lorenzo'
string[0]

'L'

In [12]:
string[-3:-1]

'nz'

In [13]:
string[3:]

'enzo'

In [17]:
# start : stop : step size

string[:7:2]

'Lrno'

In [18]:
string[::-1]

'ozneroL'

In [21]:
# concatenation 

string = 'l' + string[1:]
string

'lorenzo'

In [22]:
'ollare '*10

'ollare ollare ollare ollare ollare ollare ollare ollare ollare ollare '

In [24]:
string.upper()

'LORENZO'

In [27]:
sentence = 'Ciao sono Lucia e sono una sirena'
sentence.split()

['Ciao', 'sono', 'Lucia', 'e', 'sono', 'una', 'sirena']

In [29]:
url = 'www.lorenzoconti.dev'
url.split('.')

['www', 'lorenzoconti', 'dev']

In [30]:
print('Hello, {}. {}'.format('folks','Whassup?'))

Hello, folks. Whassup?

In [31]:
print('Hello, {2} {1} {0}'.format('Third','Second','First'))

Hello, First Second Third

In [32]:
print('Hello, {f} {s} {t}'.format(t='Third', s='Second', f='First'))

Hello, First Second Third

In [39]:
# {value: width.precision f}

result = 100/777
print('Result: {r:1.3f}'.format(r=result))

Result: 0.129

In [43]:
# f-strings

age = 23
print(f'Hello, my name is {string} and I am {age} years old')

Hello, my name is lorenzo and I am 23 years old

### lists

In [17]:
strings = ['zero','one','two','three','four']
strings[1:]

['one', 'two', 'three', 'four']

In [18]:
numbers = [5,6,7]
l = strings + numbers
print(l)

['zero', 'one', 'two', 'three', 'four', 5, 6, 7]

In [19]:
l[0] = 0
print(l)

[0, 'one', 'two', 'three', 'four', 5, 6, 7]

In [20]:
l.append(8)
print(l)

[0, 'one', 'two', 'three', 'four', 5, 6, 7, 8]

In [21]:
l.pop()

8

In [22]:
print(l)

[0, 'one', 'two', 'three', 'four', 5, 6, 7]

In [23]:
l.pop(3)

'three'

In [26]:
numbers = [5,2,3,1,4]
strings = ['x','a','l','m','f']

numbers.sort()
strings.sort()

print('{} {}'.format(numbers,strings))

[1, 2, 3, 4, 5] ['a', 'f', 'l', 'm', 'x']

### dictionaries

In [29]:
dictionary = {'name' : 'Lorenzo', 'age' : 23}
dictionary['name'][-1].upper()

'O'

In [30]:
print(dictionary)

{'name': 'Lorenzo', 'age': 23}

In [31]:
dictionary['surname'] = 'Conti'
print(dictionary)

{'name': 'Lorenzo', 'age': 23, 'surname': 'Conti'}

In [33]:
dictionary.keys()

dict_keys(['name', 'age', 'surname'])

In [34]:
dictionary.values()

dict_values(['Lorenzo', 23, 'Conti'])

In [35]:
dictionary.items()

dict_items([('name', 'Lorenzo'), ('age', 23), ('surname', 'Conti')])

### tuple

In [37]:
t = ('one',2,3.0)
t[0]

'one'

In [38]:
t.count('one')

1

In [39]:
# first index location
t.index(2)

1

### set

In [40]:
s = set()
s.add(1)
s

{1}

In [42]:
s.add(2)
s

{1, 2}

In [43]:
# unique values
s.add(2)
s

{1, 2}

In [44]:
repeated = [1,1,1,1,1]
set(repeated)

{1}

### files

In [45]:
%%writefile file.txt
Hello this is a text file
this is the second line
this is the third line

Writing file.txt

In [69]:
file = open('file.txt')

In [70]:
pwd

'C:\\Users\\loren\\Desktop'

In [71]:
file.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [72]:
file.seek(0)

0

In [73]:
file.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [74]:
file.close()

In [75]:
# no need to close the file

with open('file.txt') as file:
    contents = file.read()

In [76]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [ ]:
# mode r read
# mode w write
# mode a append
# mode r+ read and write
# mode w+ write and read

In [77]:
with open('file.txt', mode='a') as f:
    f.write(':DDD\n')

In [79]:
with open('file.txt') as file:
    contents = file.read()
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n:DDD\n'

### *args and **kwargs

In [1]:
def argsfunc(*args):
    return sum(args)

In [2]:
argsfunc(1,2,4,3)

10

In [7]:
def kwargsfunc(**kwargs):
    if 'fruit' in kwargs:
        print('fruit: {}'.format(kwargs['fruit']))

In [8]:
kwargsfunc(fruit='apple')

fruit: apple

In [16]:
def mixed(*args,**kwargs):
    print(args)
    print(kwargs)

In [17]:
mixed(23,'March',1997,name='Lorenzo',surname='Conti')

(23, 'March', 1997)
{'name': 'Lorenzo', 'surname': 'Conti'}

### map

In [2]:
def square(num):
    return num**2

nums = [1,2,3,4,5]

list(map(square, nums))

[1, 4, 9, 16, 25]

### filter

In [23]:
def check(num):
    return num % 2 == 0

list(filter(check,nums))

[2, 4]

### lambda

In [3]:
list(filter(lambda num: num % 2, nums))

[1, 3, 5]

### class

In [78]:
class Animal:
    
    def __init__(self, name):
        self.name = name
        
    def eat(self):
        print('{} is eating'.format(self.name))
    
    def info(self):
        print(type(self))

### inheritance

In [79]:
class Dog(Animal):
    
    def __init__(self, name, breed):
        Animal.__init__(self,name)
        self.breed = breed
        
    def speak(self, times):
        print('woof '*times)

In [80]:
class Cat(Animal):
    
    def __init__(self, name):
        Animal.__init__(self,name)
        
    def speak(self, times):
        print('meow '*times)

In [81]:
dog = Dog('Orazio','Mongrel')

dog.name

'Orazio'

In [82]:
dog.breed

'Mongrel'

In [83]:
dog.eat()

Orazio is eating

In [84]:
dog.info()

<class '__main__.Dog'>

In [85]:
dog.speak(times=5)

woof woof woof woof woof

In [86]:
cat = Cat('Meowth')

cat.speak(times=2)

meow meow

In [87]:
for pet in [cat, dog]:
    pet.info()
    pet.speak(times=1)

<class '__main__.Cat'>
meow
<class '__main__.Dog'>
woof

### abstract class

In [93]:
class Animal():
    
    def __init__(self,name):
        self.name = name
    
    def speak(self):
        raise NotImplementedError('abstract method must be implemented')

In [94]:
class Dog(Animal):
        
    def speak(self, times):
        print('woof '*times)

In [96]:
dog = Dog('Orazio')

dog.speak(times=1)

woof

### special methods

In [113]:
class Book():
    
    def __init__(self, title, author, pages):
        
        self.title = title
        self.author = author
        self.pages = pages
    
    def __str__(self):
        return '{}, {} ({} pages)'.format(self.author, self.title, self.pages)
    
    def __len__(self):
        return self.pages
    
    def __del__(self):
        print(str(self) + ' deleted')

In [114]:
book = Book('Python', 'Lorenzo', 100)

print(book)

Lorenzo, Python (100 pages)

In [115]:
str(book)

'Lorenzo, Python (100 pages)'

In [116]:
len(book)

100

In [117]:
# delete the variable

del book

Lorenzo, Python (100 pages) deleted

### exceptions

In [120]:
try:
    # something
    print('try')
except: 
    # code to be executed when some errors occur
    print('exception')
else:
    # code to be executed when no errors occur
    print('correct')
finally: 
    # code to be executed regardless of some errors occur
    print('finally')

try
correct
finally

In [123]:
try:
    print()
except TypeError:
    # manages type errors
    print('type error')
except OSError:
    # manages OS errors
    print('OS error')
except:
    # manages all the other errors
    print('generic error')

### generator

In [6]:
# avoids to keep a list of n calculated elements
# instead, it generates the return values every time they are requested
# this makes it more memory efficient
def cubes(n):
    for x in range(n): yield x**3    

    
for num in cubes(5): print(num)

0
1
8
27
64

In [8]:
generator = cubes(3)

next(generator)

0

In [9]:
next(generator)

1

In [10]:
next(generator)

8

In [12]:
# next(generator)
# raises StopIteration error

In [13]:
string_iterator = iter('Lorenzo')

next(string_iterator)

'L'

In [14]:
next(string_iterator)

'o'

### advanced modules

In [16]:
from collections import Counter

In [17]:
nums = [1,1,1,1,2,2,2,2,3,3,3,3,3,3,3,]

Counter(nums)

Counter({1: 4, 2: 4, 3: 7})

In [24]:
sentence = 'This is a sentence and this is not a word'

counter = Counter(sentence.lower().split())

print(counter['this'])

print(counter.most_common(3))

2
[('this', 2), ('is', 2), ('a', 2)]

In [25]:
# list unique items
list(counter)

['this', 'is', 'a', 'sentence', 'and', 'not', 'word']

In [26]:
from collections import defaultdict

In [27]:
d = {'key': 10}
d['key']

10

In [29]:
d['wrong']

# in a standard dictionary, if the key is absent, it raises the error

KeyError: 'wrong'

In [30]:
d = defaultdict(lambda: 0)
d['wrong']

0

In [31]:
d

defaultdict(<function __main__.<lambda>()>, {'wrong': 0})

In [32]:
from collections import namedtuple

In [41]:
Dog = namedtuple('Dog',['age','breed','name'])

In [42]:
orazio = Dog(age=5,breed='Husky',name='Orazio')

In [43]:
orazio

Dog(age=5, breed='Husky', name='Orazio')

In [44]:
print(orazio.name)

Orazio

In [46]:
print(orazio[2])

Orazio

### directory

In [47]:
import os

os.getcwd()

'C:\\Users\\loren\\Desktop'

In [54]:
os.listdir()

['.ipynb_checkpoints',
 'actool',
 'Danish-Higher-Education-System.pdf',
 'desktop.ini',
 'job.txt',
 'python.ipynb',
 'Summer School.pdf']

In [51]:
# move files

import shutil

In [52]:
shutil.move('file.txt','D:\\learning\\udemy\\python')

'D:\\learning\\udemy\\python\\file.txt'

In [60]:
# generates a directories tree

for folder, subfolder, files in os.walk('D:\\foto'):
    print('{} / {}'.format(folder, subfolder))

D:\foto / ['adda', 'aerobica', 'laurea', 'paracadute', 'sardegna_2017', 'sardegna_2019', 'trio', 'venezia', 'wip']
D:\foto\adda / []
D:\foto\aerobica / ['assoluti']
D:\foto\aerobica\assoluti / []
D:\foto\laurea / []
D:\foto\paracadute / []
D:\foto\sardegna_2017 / ['Diving in Sardinia', 'Extra Sardinia', 'Jumping in Sardinia', 'Sardinia with the Crew']
D:\foto\sardegna_2017\Diving in Sardinia / []
D:\foto\sardegna_2017\Extra Sardinia / []
D:\foto\sardegna_2017\Jumping in Sardinia / []
D:\foto\sardegna_2017\Sardinia with the Crew / []
D:\foto\sardegna_2019 / []
D:\foto\trio / []
D:\foto\venezia / []
D:\foto\wip / []

### datetime

In [5]:
import datetime

time = datetime.time(14,20,0)
print(time)

14:20:00

In [6]:
today = datetime.date.today()
print(today)

2020-09-21

In [7]:
print(today.ctime())

Mon Sep 21 00:00:00 2020

In [8]:
from datetime import datetime

In [12]:
day = datetime(2020,9,21,17,40,0)
print(day)

2020-09-21 17:40:00

In [10]:
day.replace(day=25)

datetime.datetime(2020, 9, 25, 17, 40)

In [14]:
from datetime import date

date1 = date(2020,11,3)
date2 = date(2020,5,25)
difference = date1 - date2
print(difference)

162 days, 0:00:00

### zip

In [ ]:
f = open('D:\\learning\\udemy\\python\\file.txt','w+')

In [1]:
import zipfile

compressed = zipfile.ZipFile('folder.zip','w')
compressed.write('D:\\learning\\udemy\\python\\file.txt', compress_type=zipfile.ZIP_DEFLATED)

In [ ]:
compressed.close()